@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,800;1,700;1,800&display=swap");

.fundo {
  background-image: url("img/background-foods-v4.png");
  background-attachment: fixed;
  background-color: #2e2d4c;
  padding: 2px;
}

/* ----------FONTES---------- */

.fonte_media {
  font-size: 1.7rem;
  font-family: "Lora", serif;
  font-weight: bold;
}

.fonte_grande {
  font-size: 3.2rem;
  font-family: "Lora", serif;
  font-weight: bold;
}

.espaço_linha {
  line-height: 3rem;
}

.titulo {
  font-size: 1.9rem;
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  font-style: italic;
  margin-top: 60px;
}

/* ----------HEADER---------- */

.superior {
  width: 72%;
  height: 616px;
  padding: 0 14%;
  text-align: center;
}

.triang_fundo {
  background-color: white;
  width: 100px;
  height: 100px;
  margin-left: calc(50% - 100px);
  margin-top: -52px;
  margin-bottom: 80px;
  transform: translateX(50%) rotate(45deg);
}

.logo img {
  height: 180px;
  margin-bottom: 30px;
}

.registred img {
  position: absolute;
  top: 15px;
  height: 28px;
  margin-bottom: 30px;
  margin-left: -13px;
}

h1,
h2 {
  font-size: 30px;
  padding-bottom: 12px;
}

h1 {
  color: white;
}

h2 {
  color: #c0bcc9;
}

/* ----------MAIN---------- */

.box_conteudo {
  width: 72%;
  max-width: 940px;
  margin: auto auto;
  background-color: white;
  border-radius: 8px;
  padding: 60px;
  color: #4d3c64;
  margin-bottom: 220px;
}

.nav_bar {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-right: 22px;
  font-weight: bold;
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: #b4b1bd;
}

.navegacao {
  margin-bottom: 50px;
  margin-left: -26px;
}

.perfil img {
  float: left;
  height: 140px;
  width: 140px;
  margin-right: 20px;
}

.lista {
  line-height: 3rem;
  padding-top: 10px;
}

ul {
  padding-left: 26px;
}

.paes img {
  float: left;
  height: 240px;
  width: 448px;
  margin-right: 20px;
  margin-left: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.paes2 img {
  float: left;
  height: 240px;
  width: 448px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.fotos {
  width: 72%;
  max-width: 940px;
  height: 520px;
  margin: auto auto;
  padding: 60px;
  display: inline;
}

.lista2 {
  line-height: 3rem;
}

.progresso {
  display: inline-block;
}

.display_progress {
  display: block;
}

progress {
  width: 272px;
  height: 27px;
  accent-color: #2e2d4c;
}

.lista3 {
  line-height: 3rem;
}

.barra_progresso {
  margin-top: 10px;
}

.teste {
  float: right;
  margin-right: 380px;
  margin-top: 11px;
}

.rodape {
  background-color: #1b1a2f;
  padding: 120px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.padding {
  padding: 6px;
  font-size: 22px;
  margin: 1px;
}
